<h1>Students list</h1>
<a href="/search">Buscar</a>
<a href="/students/create">Crear un nuevo estudiante</a>
<div id="students-list">
  {{#each students}}
  <h3>{{ name }}</h3>
  <a href="/students/{{id}}">View details</a>
  <a href="/students/{{id}}/edit">Edit student</a>
  <button class="delete-student">Eliminar <span class="hide">{{id}}</span></button>
  <hr>
  {{/each}}
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
<script src="/javascripts/apiHandler.js"></script>
<script src="/javascripts/index.js"></script>